<div class="centerdiv">
    <div class="card padding" style="margin-bottom: 30px;">
      <div class="whitebackground">
        <p-button [text]="true" [raised]="true" label="ავტორიზაცია" />
      </div>
      <p-button [text]="true" [raised]="true" label="რეგისტრაცია" class="marginleft" (click)="onSubmit()" />
    </div>
  
    <div class="logincontcenter">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <!-- Left Column -->
          <div class="form-column" class="marginleft">
            <label>მომხმარებლის სახელი</label><br />
            <input type="text" pInputText formControlName="Username" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['Username'].invalid" class="error">
              მომხმარებლის სახელი სავალდებულოა
            </div>
  
            <label>პაროლი</label><br />
            <input type="password" pInputText formControlName="Password" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['Password'].invalid" class="error">
              პაროლი სავალდებულოა
            </div>
  
            <label>თანამშრომლის სახელი</label><br />
            <input type="text" pInputText formControlName="NameEmployee" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['NameEmployee'].invalid" class="error">
              თანამშრომლის სახელი სავალდებულოა
            </div>
  
            <label>თანამშრომლის გვარი</label><br />
            <input type="text" pInputText formControlName="lastEmployee" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['lastEmployee'].invalid" class="error">
              თანამშრომლის გვარი სავალდებულოა
            </div>
          </div>
  
          <!-- Right Column -->
          <div class="form-column"  class="marginleft">
            <label>ორგანიზაციის სახელი</label><br />
            <input type="text" pInputText formControlName="NameOrganization" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['NameOrganization'].invalid" class="error">
              ორგანიზაციის სახელი სავალდებულოა
            </div>
  
            <label>ორგანიზაციის მისამართი</label><br />
            <input type="text" pInputText formControlName="OrganizationAddress" /><br />
            <div *ngIf="isSubmitted && registrationForm.controls['OrganizationAddress'].invalid" class="error">
              ორგანიზაციის მისამართი სავალდებულოა
            </div>
  
            <label>ელ.ფოსტა</label><br />
            <input type="email" pInputText formControlName="Email" /><br />
  
            <label>ტელეფონი</label><br />
            <input type="text" pInputText formControlName="PhoneNumber" /><br />
          </div>
        </div>
  
        <p-button label="რეგისტრაცია" class="loginbutton12 buttonsize" type="submit"></p-button>
      </form>
    </div>
  </div>
  